<div
  class="overflow-hidden bg-white shadow sm:rounded-lg"
  data-controller="tabs"
  data-tabs-active-class="border-indigo-500 text-indigo-600"
  data-tabs-default-tab-value="tab_payload"
>
  <nav class="isolate flex rounded-t-lg shadow" aria-label="Tabs">
    <button id="tab_payload" class="w-1/3 text-gray-500 hover:text-gray-700 border-b-2 py-4 px-1 text-center text-sm font-medium" data-tabs-target="button" data-action="click->tabs#select">Payload</button>
    <button id="tab_headers" class="w-1/3 text-gray-500 hover:text-gray-700 border-b-2 py-4 px-1 text-center text-sm font-medium" data-tabs-target="button" data-action="click->tabs#select">Headers</button>
    <button id="tab_body" class="w-1/3 text-gray-500 hover:text-gray-700 border-b-2 py-4 px-1 text-center text-sm font-medium" data-tabs-target="button" data-action="click->tabs#select">Body</button>
  </nav>

  <div class="p-5 bg-gray-800 text-white">
    <div data-tabs-target="tab" id="tab_payload">
      <pre><%= JSON.pretty_generate(@request.payload || {}) %></pre>
    </div>

    <div data-tabs-target="tab" id="tab_headers">
      <pre><%= JSON.pretty_generate(@request.headers || {}) %></pre>
    </div>

    <div data-tabs-target="tab" id="tab_body">
      <pre><%= @request.body || "No body" %></pre>
    </div>
  </div>
</div>