<div class="mt-10">
  <h3 class="text-base font-semibold leading-6 text-gray-900">System information</h3>
  <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
    <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
      <dt class="truncate text-sm font-medium text-gray-500">Ruby version</dt>
      <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%= @ruby_version %></dd>
    </div>
    <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
      <dt class="truncate text-sm font-medium text-gray-500">Rails version</dt>
      <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%= @rails_version %></dd>
    </div>
  </dl>
</div>
